<div class="agenda-container">
  @if (isLoading) {
    <app-agenda-loading />
  } @else {
    <section class="home-page">
      <article class="content">
        @if (selectedNode && selectedNode.nodes) {
          @if (breadcrumb.length > 1) {
            <app-breadcrumb [breadcrumb]="breadcrumb" (onNavigateTo)="onNavigateTo($event)" />
          }
          <div class="content-wrapper">
            <app-event-description [selectedNode]="selectedNode" [showHours]="true" />
            <app-event-toolbar [nodes]="toolbarNodes" (onSelectedItem)="onSelectOption($event)">
              <button [disabled]="!enableSaveChanges" (click)="saveChanges()" mat-flat-button>
                <mat-icon class="material-icons material-icons-outlined">save</mat-icon> Save changes
              </button>
            </app-event-toolbar>
            <app-dynamic-table
              [selectedNodes]="selectedChildrens"
              [dataSource]="selectedNode.nodes"
              [selectedNode]="selectedNode"
              [displayColumns]="displayColumns"
              (onSelectMultipleItems)="onSelectMultiple($event)"
              (onSelectAction)="onSelectAction($event)"
              (onRowUp)="onRowUp($event)"
              (onRowDown)="onRowDown($event)"
              (onValidateTimeInput)="handleInputTimeChanges($event)"
            >
            </app-dynamic-table>
          </div>
        }
        @if (selectedNode && selectedNode.nodes && selectedNode.nodes.length === 0) {
          <ng-container *ngTemplateOutlet="emptyResults"></ng-container>
        }
      </article>
    </section>
  }

  <ng-template #emptyResults>
    <app-empty-state
      [inline]="true"
      title="There are no items created for this agenda"
      subtitle="To start working on it, add a new item or import a historical one."
      icon="list_alt"
    />
  </ng-template>
</div>
