:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    border-radius: 16px 16px 0 0;
}

.agenda-container {
    width: 100%;
    height: 100%;
    background-color: var(--idb-white);
    display: flex;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    padding-bottom: 5rem;
    .home-page {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .content-wrapper {
        padding: 12px 40px 16px 40px;
    }
}

.empty-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 75px;
    justify-content: center;
}
